/*Estilos de mi sitio web*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

body-content {
    padding: 10px;
}

a {
    color: #337AB7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #333;
}

h1 {
    font-size: 36px;
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 30px;
    margin: 30px 0 20px 0;
}

h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
}

h4 {
    font-size: 18px;
    margin: 10px 0 10px 0;
}


